<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Monitor</title>
</head>
<body>
    <div class="container"></div>
    <div class="form-section">
        <h1>Plant Monitor</h1>
        <h2>Murder Fewer Houseplants...maybe</h2>
        <form id="plant-form" action="/getPlants" method="GET">
            <div class="question">
                <select name="edible" id="edible">
                    <option value="" selected>No preference</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="question">
                <select name="pets_kids" id="pets_kids">
                    <option value="" selected>No preference</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="question">
                <select name="lifespan" id="lifespan">
                    <option value="" selected>No preference</option>
                    <option value="perennial">Preferably forever - perennial</option>
                    <option value="annual">I'm here for a fun time, not a long time - annual</option>
                </select>
            </div>
            <div class="question">
                <select name="water_schedule" id="water_schedule">
                    <option value="" selected>No preference</option>
                    <option value="frequent">Yes - I have a regular schedule</option>
                    <option value="minimum">Maybe - if I remember, but don't count on it...</option>
                </select>
            </div>
            <div class="question">
                <select name="sunlight" id="sunlight">
                    <option value="" selected>No preference</option>
                    <option value="full_sun">Full sun!</option>
                    <option value="full_shade">All shade, all the time</option>
                    <option value="part_shade">Equal parts sun and shade (or I dunno...)</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="image-section"></div>
    
</body>
</html>